@page "/counter"
<h1>Counter</h1>

<input type="number" @bind(Increment) />
<p>Current count: @currentCount</p>

<div class="progress">
    <div class="progress-bar bg-success progress-bar-striped" style="width:@currentCount%">@currentCount%</div>
</div>

<button @onclick(IncrementCount)>Click me</button>

@functions {
    int currentCount = 0;

    public string Increment { get; set; } = 1;

    void IncrementCount()
    {
      currentCount  = Math.Min( currentCount + int.Parse(Increment), 100);
    }
}
