@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@*<script>
    $(document).ready(function () { console.log('Jquery loaded'); });
</script>*@


<SurveyPrompt Title="How is Blazor working for you?" />
