@using BlazorDemos.Shared
@page "/pizza"

@inject Store state
@inject IPizzaMenuService MenuService

<div class="pizza-place">

    <GreyOut IsGreyedOut="state.UI.ShowLoading">
        <Loading/>
    </GreyOut>

    <div class="row pizza-header">
        <div class="col-sm-3">
            <img src="images/pizza.png" class="center-block" />
        </div>
        <div class="col-sm-6">
            <h1 class="text-center">@state.PizzaPlace.Owner's Pizza Place</h1>
        </div>
        <div class="col-sm-3">
            <img src="images/pizza.png" class="center-block" />
        </div>
    </div>

    <div class="row">
        <button class="btn btn-success" @onclick(OpenEditor)>Add</button>
    </div>

    @if (state.PizzaPlace.Orders.Any())
    {
        <!-- Be carefull here, or render will try to set ChildContent property with runtime errors -->
        <PizzaList Pizzas="state.PizzaPlace.Orders" />
    }

    @if (state.UI.ShowPizzaEditor)
    {
        <PizzaEditor Pizza="state.PizzaPlace.Pizza"
                     PizzaNames="state.PizzaPlace.PizzaNames"
                     SpicynessValues="state.UI.SpicynessValues"
                     OnClose="CloseEditor"></PizzaEditor>
    }

</div>

@functions  { 

    protected override async Task OnInitAsync()
    {
        Console.WriteLine("Loading pizzas");
        state.UI.ShowLoading = true;
        state.UI.UpdateUI = () => this.StateHasChanged();

        state.PizzaPlace.PizzaNames = await MenuService.GetPizzaNames();
        state.PizzaPlace.InitPizza();
        Console.WriteLine("Loaded pizzas");
        state.UI.ShowLoading = false;
        StateHasChanged();
    }

    void OpenEditor()
    {
        state.UI.ShowPizzaEditor = true;
    }

    void CloseEditor(Pizza pizza)
    {
        state.UI.ShowPizzaEditor = false;
        if (pizza != null)
        {
            this.state.PizzaPlace.OrderPizza();
            Console.WriteLine($"*** Added pizza {state.PizzaPlace.Pizza.Name} - {state.PizzaPlace.Pizza.Spicyness} - {state.PizzaPlace.Pizza.Quantity}");
        }
        else
        {
            Console.WriteLine("Cancelled pizza");
        }
        state.StateHasChanged();
    }
}