@page  "/timer"
@implements IDisposable

<h1>Seconds this page is showing: @Counter</h1>

@functions {

    public int Counter { get; set; }

    private System.Threading.Timer t;

    protected override void OnInit()
    {
      t = new System.Threading.Timer((_) => {
        Counter += 1;
        Console.WriteLine($"Counter has been updated to {Counter}. Calling StateHasChanged()");
        this.StateHasChanged();
      }, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
    }

    public void Dispose()
    {
      t?.Dispose();
    }

}
